<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <div class="info-topLeft">
                            <a href="#" id="info-topLeft-prev">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            <label>
                                <b> Trở lại </b>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="tab-content" id="myTabContent" style="margin-top: 20px;">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="info-left d-flex align-items-center justify-content-center p-3 flex-column">
                                        <div class="info-left-avatar">
                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="info-left-status mb-3">
                                            <button type="button" class="btn btn-success btn-addNewUserGroup"  >
                                                <i class="fa fa-plus" aria-hidden="true"></i> Thêm tài nguyên mạng & phân phối tải
                                            </button>
                                        </div>
                                        <div class="info-left-email w-100 overflow-hidden">
                                            <table class="table table-hover">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Tên nguyên mạng & phân phối tải</th>
                                                    <th scope="col">Trạng thái</th>
                                                    <th scope="col">Ngày tạo</th>
                                                    <th scope="col">Hành động</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr>
                                                    <th scope="col">1</th>
                                                    <td>NetworkResourceInventory</td>
                                                    <td>
                                                        <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                                                    </td>
                                                    <td>26-06-2025 12:14:01</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square-o edit-icon" aria-hidden="true" style="margin-right: 10px;"></i>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">2</th>
                                                    <td>IPAllocationManager</td>
                                                    <td>
                                                        <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                                                    </td>
                                                    <td>26-06-2025 12:14:02</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square-o edit-icon" aria-hidden="true" style="margin-right: 10px;"></i>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">3</th>
                                                    <td>BandwidthQuotaTracker</td>
                                                    <td>
                                                        <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                                                    </td>
                                                    <td>26-06-2025 12:14:03</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square-o edit-icon" aria-hidden="true" style="margin-right: 10px;"></i>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">4</th>
                                                    <td>DHCPLeaseMonitor</td>
                                                    <td>
                                                        <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                                                    </td>
                                                    <td>26-06-2025 12:14:04</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square-o edit-icon" aria-hidden="true" style="margin-right: 10px;"></i>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">5</th>
                                                    <td>ResourceAccessMatrix</td>
                                                    <td>
                                                        <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                                                    </td>
                                                    <td>26-06-2025 12:14:05</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square-o edit-icon" aria-hidden="true" style="margin-right: 10px;"></i>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Pop-up-->
            <div class="modal fade modal-addService" id="modalUserGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog d-flex align-items-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> Thêm mới hệ thống danh mục </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-between align-items-center mb-2 addService-content">
                                <label for="addNameService">Tên hệ thống danh mục : </label>
                                <input type="text" id="addNameService" placeholder="Nhập tên phần mềm">

                            </div>
                            <p class="mb-3 box-error"><i class="errorFromGloable" id="loiCategorySVName"></i></p>
                            <div class="d-flex justify-content-between align-items-center mb-2 addService-content">
                                <label for="addCodeService">Mã hệ thống danh mục: </label>
                                <input type="text" id="addCodeService" placeholder="Nhập mã phần mềm">
                            </div>
                            <p class="mb-3 box-error"><i class="errorFromGloable" id="loiCategorySVCode"></i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close-addService" data-bs-dismiss="modal">Thoát</button>
                            <button type="button" class="btn btn-primary btn-send-addService">Thêm mới hệ thống danh mục</button>
                            <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Chỉnh sửa (thêm mới) -->
            <div class="modal fade modal-editUserGroup" id="modalEditUserGroup" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2"> Thông tin chỉnh sửa </h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-between align-items-center mb-2 addService-content">
                                <label for="addNameService2">Tên tài nguyên mạng & phân phối tải: </label>
                                <input type="text" id="addNameService2" placeholder="Nhập tên tài nguyên mạng & phân phối tải">

                            </div>
                            <p class="mb-3 box-error"><i class="errorFromGloable" id="loiCategorySVName2"></i></p>
                            <div class="d-flex justify-content-between align-items-center mb-2 addService-content">
                                <label for="addCodeService2">Mã tài nguyên mạng & phân phối tải: </label>
                                <input type="text" id="addCodeService2" placeholder="NND-001" disabled >
                            </div>
                            <p class="mb-3 box-error"><i class="errorFromGloable" id="loiCategorySVCode2"></i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close-editUserGroup" data-bs-dismiss="modal">Thoát</button>
                            <button type="button" class="btn btn-primary btn-send-editUserGroup" id="btnSaveEdit">Lưu thay đổi</button>
                            <i data-id="352" data-status="0" class="fa fa-toggle-off updateStatus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/web/js/system/userGroup.js}"></script>
