<!-- ========== Left Sidebar Start ========== -->
<div >
    <div class="left-side-menu" id="left-side-menu">

    </div>
    <div style="position: fixed; z-index: 99999999999999999999999999; right: 10px; top: 75px">
        <div class="alert alert-success alert-dismissible fade" role="alert" id="myAlert" style="display: none;">
            <b id="contentAlert"></b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade" role="alert" id="myAlertError"
             style="display: none;">
            <b id="contentAlertError"></b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div id="content_box">

    </div>
    <script th:src="@{/web/js/home/home.js}"></script>
</div>