<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TTXT-Error</title>
    <link rel="stylesheet" th:href="@{/web/css/main.css}">
</head>
<body id="body-error">
    <div class="body-error-box">
        <h1>
            <img th:src="@{/web/imgs/key.png}" alt="">
            403
        </h1>
        <h3>Forbidden</h3>
        <p>You do not have permission to access this website please <a href="/" class="link-login-error">Login</a> before using</p>
    </div>

</body>
</html>